extends layout 
 
block content 
  h1= title 
 
  form(id='earphoneForm', action="/resource/earphone", method="POST") 
    div.form-group 
        label.earphoneAttr(for='Brand') earphone Brand 
        input#Brand(type='text', name='Brand') 
    div.form-group 
        label.earphoneAttr(for='earphone_type') earphone type 
        input#earphone_type(type='text', name='earphone_type') 
    div.form-group 
        label.earphoneAttr(for='Cost') earphone Cost 
        input#Cost(type='number', name='Cost') 
    input(type="submit") 
 
  script. 
    document.forms['earphoneForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 